<form method="post" action="{{ path('app_post_delete', {'ref': post.ref}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-danger btn-sm" type="submit">
        <i class="bi bi-trash me-1"></i>Delete
    </button>
</form>